* {
    margin: 0;
    padding: 0;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Roboto';
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    
}

#calc-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(110, 110, 110);
    width: 20em;
    height: 500px;
    padding: 2em;

}

#screen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    
    background-color: rgb(206, 206, 206);
    height: 140px;
}

.screen-subcontainer {
    height: 70px;
    padding: 1rem 1rem 0 0;
    font-size: 2rem;
    font-weight: 600;
}

#history-number {
    color: rgb(70, 70, 70);
    font-size: 1.2rem;
}


/* BUTTONS GRID */
#buttons-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 100%;
    grid-gap: 12px;
}

.btn {
    background-color: rgb(48, 48, 48);
    color: white;
    font-family: 'Roboto';
    font-size: 1rem;
    font-weight: 600;
    border: 0;
}

.btn-clr {
    grid-column-start: 1;
    grid-column-end: 3;
    height: 100%;
}

.btn-del {
    grid-column-start: 3;
    grid-column-end: 5;
    height: 100%;
}


/* BUTTONS HOVER */
.btn-number:hover {
    background-color: rgb(180, 180, 180);
}

.btn:hover {
    transform: scale(1.1);
    transform: translateY(-4px);
    transition: 0.1s;
}

.btn:active {
    /* transform: scale(0.90); */
    transform: translateY(0px);
    transition: 0.1s;

}



.btn-operation:hover {
    background-color: rgb(66, 108, 223);
}

.btn-equal:hover {
    background-color: rgb(12, 141, 0);
}

.btn-clr:hover {
    background-color: rgb(255, 50, 50);
}

.btn-del:hover {
    background-color: rgb(255, 50, 50);
}

.border {
    /* border: 2px solid black; */
    border-radius: 1em;
}

.margin-bottom {
    margin-bottom: 30px;
}


/* FOOTER */
#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
    margin-top: 30px;

}